/*

* Override Pages default styles or create your own styles here

*/
.jumbotron h1.large-demo-text{
	font-size: 150px;
}

.icon-text-search{
	font-size: 42px;
	width: 150%;
}

.slick-header {

position: absolute;
top: -1.25rem:
left: -.75rem;
right: -.75rem;
height: 4.5rem;
z-index: 0;
border-bottom: 1px solid #cdcdcd;
}